.page-header {
  background: #3d5a80;
}

.page-header .container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  padding: 1.6rem 0;
}

.page-header .container a {
  height: 3.2rem;
  transition: opacity 0.2s;
}
.page-header .container a:hover {
  opacity: 0.6;
}

.page-header .container strong {
  font: 700 2.8rem "Josefin Sans", sans-serif;
  line-height: 4.2rem;
  color: #fff;
  margin-top: 5rem;
}
